# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
.env.local
*.env

# Virtual environment
venv/
ENV/
env/
.venv/

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Build and distribution
build/
dist/
*.egg-info/
.eggs/

# Temporary files
*.tmp
*.temp
